# prometheus.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: monitoring-demo
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  - apiGroups: ["extensions"]
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: monitoring-demo
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring-demo
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    
    alerting:
      alertmanagers:
        - static_configs:
            - targets: ['alertmanager:9093']
    
    rule_files:
      - /etc/prometheus/rules/spring-alert-rules.yaml


    scrape_configs:
      - job_name: 'spring-boot'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: "true"
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: (.+):\d+;(\d+)
            replacement: $1:$2
            target_label: __address__
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: app_name
            action: replace
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-alert-rules
  namespace: monitoring-demo
data:
  spring-alert-rules.yaml: |
    groups:
      - name: spring-app-alerts
        rules:
          - alert: HighCPUUsage
            expr: process_cpu_usage{job="spring-boot"} > 0.8
            for: 30s
            labels:
              severity: warning
            annotations:
              summary: "High CPU usage detected in Spring Boot app"
              description: "CPU usage is above 80% for more than 30 seconds on {{ $labels.instance }}"

          - alert: HttpRequestVolumeHigh
            expr: increase(http_server_requests_seconds_count{job="spring-boot"}[1m]) > 20
            for: 1m
            labels:
              severity: critical
            annotations:
              summary: "High HTTP request volume in Spring Boot"
              description: "More than 20 HTTP requests received in the last minute on {{ $labels.instance }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: monitoring-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
        - name: prometheus
          image: prom/prometheus
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus
            - name: prometheus-alert-rules-volume
              mountPath: /etc/prometheus/rules
      volumes:
        - name: prometheus-config-volume
          configMap:
            name: prometheus-config
        - name: prometheus-alert-rules-volume
          configMap:
            name: prometheus-alert-rules

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: monitoring-demo
spec:
  type: NodePort
  ports:
    - port: 9090
      nodePort: 30090
  selector:
    app: prometheus